#short_url {
    width: 500px;
    height: 25px;
    border: 1px dotted;
    border-color: black;
}

#notify {
    width: 120px;
    height: 25px;
    background: #7fffd4;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
#notify.is-show {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
